:root {
  --bottom-section-max-height: 50%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  height: 100vh;
}

.bg-video {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

a {
  color: #875df1d8;
  text-decoration: none;
}

.weather-app {
  backdrop-filter: blur(20px);
  background: rgba(247, 249, 252, 0.08);
  border: 1px solid rgba(223, 229, 236, 0.24);
  max-width: 65%;
  max-height: 100%;
  position: relative;
  margin: 60px auto;
  padding: 20px;
  border-radius: 10px;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.116);
  padding-bottom: 30px;
}

img {
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
  height: 38px;
}

.search-input {
  backdrop-filter: blur(20px);
  background: rgba(247, 249, 252, 0.08);
  border: 1px solid rgba(223, 229, 236, 0.24);
  border-radius: 30px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  color: whitesmoke;
}

.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 30px;
  color: white;
}

main {
  padding: 0;
}

.current-weather-info-container {
  backdrop-filter: blur(20px);
  background: rgba(247, 249, 252, 0.08);
  border: 1px solid rgba(223, 229, 236, 0.24);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: fit-content;
  border-radius: 13px;
}

.weather-app-temperature-container {
  display: inline-block;
  font-size: 18px;
}

.weather-app-temperature {
  display: inline-block;
  vertical-align: middle;
}

.weather-app-unit {
  display: inline-block;
  vertical-align: middle;
}

.weather-app-temperature {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.weather-app-city {
  font-size: 18px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: whitesmoke;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.profile-info {
  backdrop-filter: blur(20px);
  background: rgba(247, 249, 252, 0.08);
  border: 1px solid rgba(223, 229, 236, 0.24);
  padding: 3px;
  border-radius: 50px;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-app-icon {
  display: block;
  margin: 0 auto;
  height: 166px;
  width: 166px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2.5px;
}

.username {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: smaller;
  font-weight: 100;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.082);
  font-weight: 300;
  text-align: center;
  padding-top: 2em;
  color: whitesmoke;
}

footer p {
  margin: 0;
  padding: 0;
}

.weather-content {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  justify-content: start;
}

.right-side-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.weather-forecast-container {
  backdrop-filter: blur(20px);
  background: rgba(247, 249, 252, 0.08);
  border: 1px solid rgba(223, 229, 236, 0.24);
  border-radius: 13px;
  color: whitesmoke;
  text-align: center;
  width: 90%;
  padding: 4%;
  margin: 20px;
  height: 60%;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-bottom: 1%;
}

.weather-forecast-container-header {
  display: block;
  margin: 0 auto;
}

hr {
  display: block;
  margin: 2.5% auto;
  border-color: rgba(255, 255, 255, 0.315);
  max-width: 85%;
}

h1,
h2 {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 900;
}

h2 {
  text-align: center;
}

.weather-forecast-details {
  backdrop-filter: blur(20px);
  background: rgba(16, 22, 31, 0.08);
  border: 1px solid rgba(223, 229, 236, 0.24);
  position: relative;
  border-radius: 13px;
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.weather-forecast-day-container {
  display: flex;
  justify-content: center;
}

.weather-forecast-day {
  display: flex;
  justify-content: center;
}

.weather-forecast-icon {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temps {
  display: inline;
  margin-bottom: 0;
  padding-bottom: 0;
}

.weather-forecast-min-temp {
  color: #b0e0e6;
}

.bottom-section {
  backdrop-filter: blur(20px);
  background: rgba(247, 249, 252, 0.08);
  border: 1px solid rgba(223, 229, 236, 0.24);
  border-radius: 13px;
  /* position: inherit; */
  justify-content: baseline;
  max-height: calc(40% - (25px));
  width: 90%;
  padding: 4%;
  margin: 20px;
}

.weather-overview-container-header {
  max-height: 100%;
  position: static;
}

@media (max-width: 900px) {
  .weather-forecast-details {
    backdrop-filter: blur(20px);
    background: rgba(247, 249, 252, 0.08);
    border: 1px solid rgba(223, 229, 236, 0.24);
    position: relative;
    border-radius: 13px;
    height: fit-content;
    width: fit-content;
    margin-top: 5%;
    margin-left: 1.2%;
    margin-right: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
