body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

.bg-video {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

a {
  color: #885df1;
}

.weather-app {
  backdrop-filter: blur(2px);
  border: 2px solid rgba(255, 255, 255, 0.116);
  max-width: 700px;
  max-height: 615px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.116);
  padding-bottom: 30px;
}

img {
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
  height: 38px;
}

.search-input {
  background-color: rgba(255, 255, 255, 0.082);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 0;
}

.current-weather-info-container {
  background: rgba(255, 255, 255, 0.082);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 200px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.weather-app-temperature-container {
  display: inline-block;
  font-size: 18px;
}

.weather-app-temperature {
  display: inline-block;
  vertical-align: middle;
}

.weather-app-unit {
  display: inline-block;
  vertical-align: middle;
}

.weather-app-temperature {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.weather-app-city {
  font-size: 18px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: whitesmoke;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.profile-info {
  background: rgba(255, 255, 255, 0.096);
  padding: 3px;
  border-radius: 50px;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-app-icon {
  display: block;
  margin: 0 auto;
  height: 166px;
  width: 166px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2.5px;
}

.username {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: smaller;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.082);
  text-align: center;
  padding-top: 15px;
  color: whitesmoke;
}

.weather-content {
  display: flex;
}

.weather-forecast-container {
  background: rgba(255, 255, 255, 0.082);
  min-width: 350px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  flex: 1;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  color: whitesmoke;
}

.weather-forecast {
  display: flex;
  flex-direction: row;
}

.weather-forecast-container h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 900;
}

.weather-forecast-details {
  background: rgba(255, 255, 255, 0.082);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  max-width: 70px;
  max-height: fit-content;
  margin-top: 45px;
  margin-left: 5px;
  margin-right: 5px;
}
